In [1]:
from pymongo import MongoClient
mongo = MongoClient(port=27017)

In [2]:
print(mongo.list_database_names())

['admin', 'config', 'local']

In [3]:
my_first_db = mongo['my_db']

In [4]:
print(mongo.list_database_names())

['admin', 'config', 'local']

In [5]:
my_first_collection = my_first_db['my_collection']
my_first_db.list_collection_names()

[]

In [6]:
my_first_collection.insert_one({'name': 'Mickey'})

In [7]:
print(mongo.list_database_names())
print(my_first_db.list_collection_names())

['admin', 'config', 'local', 'my_db']
['my_collection']

In [10]:
results = my_first_collection.find()
for result in results:
    print(result)

{'_id': ObjectId('636b0e6767e455ac06eb5ea8'), 'name': 'Mickey'}

In [12]:
goofy = {'_id':3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}
my_first_collection.insert_one(goofy)

results = my_first_collection.find()
for result in results:
    print(result)

{'_id': ObjectId('636b0e6767e455ac06eb5ea8'), 'name': 'Mickey'}
{'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}

In [13]:
animals = [{'name': 'Donald', 'species': 'duck'}, {'name': 'Daisy', 'species': 'duck'}]
my_first_collection.insert_many(animals)

In [14]:
results = my_first_collection.find()
for result in results:
    print(result)

{'_id': ObjectId('636b0e6767e455ac06eb5ea8'), 'name': 'Mickey'}
{'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}
{'_id': ObjectId('636b0f8367e455ac06eb5ea9'), 'name': 'Donald', 'species': 'duck'}
{'_id': ObjectId('636b0f8367e455ac06eb5eaa'), 'name': 'Daisy', 'species': 'duck'}

In [15]:
query = {'age': {'$gt':85}}
results = my_first_collection.find(query)
[result for result in results]

[{'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}]

In [16]:
query = {'name': 'Mickey'}
update = {'$set': {'name': 'Mickey Mouse'}}
my_first_collection.update_one(query, update)
[r for r in my_first_collection.find()]

[{'_id': ObjectId('636b0e6767e455ac06eb5ea8'), 'name': 'Mickey Mouse'},
 {'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'},
 {'_id': ObjectId('636b0f8367e455ac06eb5ea9'),
  'name': 'Donald',
  'species': 'duck'},
 {'_id': ObjectId('636b0f8367e455ac06eb5eaa'),
  'name': 'Daisy',
  'species': 'duck'}]

In [17]:
query = {'name': 'Mickey Mouse'}
my_first_collection.delete_one(query)
[r for r in my_first_collection.find()]

[{'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'},
 {'_id': ObjectId('636b0f8367e455ac06eb5ea9'),
  'name': 'Donald',
  'species': 'duck'},
 {'_id': ObjectId('636b0f8367e455ac06eb5eaa'),
  'name': 'Daisy',
  'species': 'duck'}]

In [18]:
query = {'species': 'duck'}
my_first_collection.delete_many(query)
[r for r in my_first_collection.find()]

[{'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}]

In [19]:
my_first_db.drop_collection('my_collection')

{'nIndexesWas': 1, 'ns': 'my_db.my_collection', 'ok': 1.0}

In [20]:
my_first_db.list_collection_names()

[]

In [21]:
mongo.drop_database('my_db')

In [22]:
mongo.list_database_names()

['admin', 'config', 'local']